{% extends "base.html" %}

{% block header %}

{% endblock header %}


{% block main %}
<!-- blog-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- toolbar start -->
        <div class="toolbar">
          <div class="show-result">
            <h2>Total 10 produk</h2>
          </div>
        </div>
        <!-- toolbar end -->

        <div class="container">
          <div class="row">

            <!-- single produk INFLUX-HITAM-KUNING -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/INFLUX-HITAM-KUNING-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/INFLUX-HITAM-KUNING-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">INFLUX <br>HITAM / KUNING</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 379,900</span>
                    <span class="new-price">IDR 368,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk INFLUX-ABU-ABU-TUA-HIJAU-CERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/INFLUX-ABU-ABU-TUA-HIJAU-CERAH-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/INFLUX-ABU-ABU-TUA-HIJAU-CERAH-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">INFLUX ABU-ABU TUA / HIJAU CERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 379,900</span>
                    <span class="new-price">IDR 368,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DAZZLE-MERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DAZZLE-MERAH-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DAZZLE-MERAH-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DAZZLE <br>MERAH / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 379,900</span>
                    <span class="new-price">IDR 368,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DAZZLE-BIRU-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DAZZLE-BIRU-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DAZZLE-BIRU-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DAZZLE <br>BIRU / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 379,900</span>
                    <span class="new-price">IDR 368,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk EXODUS-MERAHHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_MERAH_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_MERAH_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">EXODUS <br>MERAH/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 349,900</span>
                    <span class="new-price">IDR 338,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk EXODUS-HITAMPUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_HITAM_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_HITAM_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">EXODUS <br>HITAM/PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 349,900</span>
                    <span class="new-price">IDR 338,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk EXODUS-BIRUHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_BIRU_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/EXODUS_BIRU_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">EXODUS <br>BIRU/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 349,900</span>
                    <span class="new-price">IDR 338,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HORNETS-HITAMMERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAMMERAH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAMMERAH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HORNETS <br>HITAM/MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 329,900</span>
                    <span class="new-price">IDR 318,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HORNETS-HITAMHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAMHITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAMHITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HORNETS <br>HITAM/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 329,900</span>
                    <span class="new-price">IDR 318,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HORNETS-HITAMHIJAU-CERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAM_HIJAUCERAH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HORNETS_HITAM_HIJAUCERAH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HORNETS <br>HITAM/HIJAU CERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 329,900</span>
                    <span class="new-price">IDR 318,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

          </div>
        </div>

      </div>
    </div>
  </div>





{% endblock main %}
