{% extends "base.html" %}

{% block header %}

{% endblock header %}


{% block main %}
<!-- blog-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- toolbar start -->
        <div class="toolbar">
          <div class="show-result">
            <h2>Total 10 produk</h2>
          </div>
        </div>
        <!-- toolbar end -->

        <div class="container">
          <div class="row">

            <!-- single produk SAR-KREM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/SAR_KREM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/SAR_KREM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">SAR <br>KREM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 649,900</span>
                    <span class="new-price">IDR 638,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk SAR-COKLAT -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/SAR_COKLAT_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/SAR_COKLAT_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">SAR <br>COKLAT</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 649,900</span>
                    <span class="new-price">IDR 638,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LEED-COKLAT-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LEED_COKLAT_MUDA_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LEED_COKLAT_MUDA_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LEED <br>COKLAT MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 649,900</span>
                    <span class="new-price">IDR 638,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LEED-ABU-ABU-TUA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LEED_ABU_ABU_TUA_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LEED_ABU_ABU_TUA_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LEED <br>ABU-ABU TUA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 649,900</span>
                    <span class="new-price">IDR 638,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk STANDLEY-COKLAT-MUDAHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/STANDLEY_KUNING_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/STANDLEY_KUNING_HITAM_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">STANDLEY <br>COKLAT MUDA/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 399,900</span>
                    <span class="new-price">IDR 388,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk STANDLEY-HITAMHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/STANDLEY_HITAM_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/STANDLEY_HITAM_HITAM_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">STANDLEY <br>HITAM/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 399,900</span>
                    <span class="new-price">IDR 388,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk PORTLAND-COKLAT-TUA-HITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/PORTLAND-COKLAT-TUA-HITA-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/PORTLAND-COKLAT-TUA-HITA-1.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">PORTLAND <br>COKLAT TUA / HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 349,900</span>
                    <span class="new-price">IDR 338,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk PORTLAND-HITAM-KUNING -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/PORTLAND-HITAM-KUNING-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/PORTLAND-HITAM-KUNING-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">PORTLAND <br>HITAM / KUNING</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 349,900</span>
                    <span class="new-price">IDR 338,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk QUATRO-COKLAT-COKLAT-TUA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/QUATRO_coklat_coklat_tua_1_(1).jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/QUATRO_coklat_coklat_tua_3_(1).jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">QUATRO <br>COKLAT / COKLAT TUA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 299,900</span>
                    <span class="new-price">IDR 288,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk QUATRO-ABU-ABU-TUA-MERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/QUATRO_abu2_tua_merah_1_(1).jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/QUATRO_abu2_tua_merah_3_(1).jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">QUATRO <br>ABU-ABU TUA / MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 299,900</span>
                    <span class="new-price">IDR 288,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->







          </div>
        </div>

      </div>
    </div>
  </div>





{% endblock main %}
