{% extends "base.html" %}

{% block header %}

{% endblock header %}


{% block main %}
<!-- blog-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- toolbar start -->
        <div class="toolbar">
          <div class="show-result">
            <h2>Total 6 produk</h2>
          </div>
        </div>
        <!-- toolbar end -->

        <div class="container">
          <div class="row">

            <!-- single produk DEXTER-PUTIH-PERAK -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_PERAK_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_PERAK_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DEXTER <br>PUTIH / PERAK</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 299,900</span>
                    <span class="new-price">IDR 288,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DEXTER-PUTIH-MERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_MERAH_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_MERAH_PUTIH_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DEXTER <br>PUTIH / MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 299,900</span>
                    <span class="new-price">IDR 288,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DEXTER-PUTIH-BIRU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_BIRU_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DEXTER_BIRU_PUTIH_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DEXTER <br>PUTIH / BIRU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 299,900</span>
                    <span class="new-price">IDR 288,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk NELSON-PUTIHABU-ABU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_PUTIH_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_PUTIH_PUTIH_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">NELSON <br>PUTIH/ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk NELSON-PUTIHMERAH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_MERAH_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_MERAH_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">NELSON <br>PUTIH/MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk NELSON-PUTIHBIRU-TUA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_BIRU_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/NELSON_BIRU_PUTIH_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">NELSON <br>PUTIH/BIRU TUA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->







          </div>
        </div>

      </div>
    </div>
  </div>





{% endblock main %}
