{% extends "base.html" %}

{% block header %}

{% endblock header %}


{% block main %}
<!-- blog-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- toolbar start -->
        <div class="toolbar">
          <div class="show-result">
            <h2>Total 10 produk</h2>
          </div>
        </div>
        <!-- toolbar end -->

        <div class="container">
          <div class="row">

            <!-- single produk DUSTY-HITAM-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DUSTY_HITAM_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DUSTY_HITAM_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DUSTY <br>HITAM / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DUSTY-ABU-ABU-MUDA-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DUSTY_ABU_ABU_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DUSTY_ABU_ABU_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DUSTY <br>ABU-ABU MUDA / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk FOCUS-HI-ABU-ABU-TUA-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/FOCUS_HI_ABU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/FOCUS_HI_ABU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">FOCUS HI <br>ABU-ABU TUA / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk FOCUS-HI-HITAM-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/FOCUS_HI_BLACK_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/FOCUS_HI_BLACK_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">FOCUS HI <br>HITAM / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk EXPEDITION-HITAM-HITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/EXPEDITION_HITAM_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/EXPEDITION_HITAM_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">EXPEDITION <br>HITAM / HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 219,900</span>
                    <span class="new-price">IDR 208,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk EXPEDITION-HITAM-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/EXPEDITION_HITAM_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/EXPEDITION_HITAM_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">EXPEDITION <br>HITAM / ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 219,900</span>
                    <span class="new-price">IDR 208,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk BASIC-HI-BLACKOFF-WHITERED -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/bi2.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/bi3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">BASIC HI <br>BLACK/OFF WHITE/RED</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 189,900</span>
                    <span class="new-price">IDR 178,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->



          </div>
        </div>

      </div>
    </div>
  </div>





{% endblock main %}
