{% extends "base.html" %}

{% block header %}

{% endblock header %}


{% block main %}
<!-- blog-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- toolbar start -->
        <div class="toolbar">
          <div class="show-result">
            <h2>Total 117 produk</h2>
          </div>
        </div>
        <!-- toolbar end -->

        <div class="container">
          <div class="row">

            <!-- single produk MEGHAN-MERAHORANYE -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_RED1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_RED2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">MEGHAN <br>MERAH/ORANYE</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 259,900</span>
                    <span class="new-price">IDR 248,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk MEGHAN-ABU-ABU-TUAMERAH-JAMBU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_DGREY1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_DGREY2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">MEGHAN <br>ABU-ABU TUA/MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 259,900</span>
                    <span class="new-price">IDR 248,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk MEGHAN-TOSCA-CERAHPUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_TOSCA1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/MEGHAN_TOSCA2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">MEGHAN <br>ABU-ABU TUA/MERAH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 259,900</span>
                    <span class="new-price">IDR 248,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LOUIS-ABU-ABU-TUAABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_ABU_ABU_4.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_ABU_ABU_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LOUIS <br>ABU-ABU TUA/ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LOUIS-HIJAU-PUPUSPUTIH-TULANG -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_OLIVE_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_OLIVE_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LOUIS <br>HIJAU PUPUS/PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LOUIS-HITAMABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LOUIS <br>HITAM/ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk LOUIS-BIRU-TUA-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_NAVY_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/LOUIS_NAVY_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LOUIS <br>BIRU TUA / ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DARWIN-HITAMHITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DARWIN <br>HITAM/HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DARWIN-BIRU-TUAABU-ABU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_BIRU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_BIRU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DARWIN <br>BIRU TUA/ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk DARWIN-ABU-ABUABU-ABU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_ABU_ABU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/DARWIN_ABU_ABU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">DARWIN <br>ABU-ABU/ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 279,900</span>
                    <span class="new-price">IDR 268,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk MATTEO-ABU-ABU-MUDA-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/MATTEO_ABU_ABU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/MATTEO_ABU_ABU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">MATTEO <br>ABU-ABU MUDA / ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk MATTEO-BIRU-TUA-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/MATTEO_BIRU_TUA_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/MATTEO_BIRU_TUA_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU"> MATTEO <br>BIRU TUA / ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HAVANA HITAM / HITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-HITAM-HITAM-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-HITAM-HITAM-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HAVANA <br>HITAM / HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HAVANA-ABU-ABU-TUA-ABU-ABU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-ABU-ABU-TUA-ABU-ABU-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-ABU-ABU-TUA-ABU-ABU-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HAVANA <br>ABU-ABU TUA / ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk HAVANA-BIRU-TUA-ABU-ABU -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-BIRU-TUA-ABU-ABU-1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HAVANA-BIRU-TUA-ABU-ABU-2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">HAVANA <br>BIRU TUA / ABU-ABU</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk RUSSEL-ABU-ABU-MUDA-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/RUSSEL_ABU_ABU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/RUSSEL_ABU_ABU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">RUSSEL ABU-ABU MUDA / ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk RUSSEL-HITAM-ABU-ABU-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/RUSSEL_HITAM_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/RUSSEL_HITAM_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">RUSSEL HITAM / ABU-ABU MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk BUSTER-HITAM-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_HITAM_PUTIH_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_HITAM_PUTIH_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">BUSTER <br>HITAM / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk BUSTER-HITAM-HITAM -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_HITAM_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_HITAM_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">BUSTER <br>HITAM / HITAM</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk BUSTER-ABU-ABU-TUA-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_ABU_ABU_TUA_PUTIH_1_(1).jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/BUSTER_ABU_ABU_TUA_PUTIH_3).jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">BUSTER <br>ABU-ABU TUA / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 269,900</span>
                    <span class="new-price">IDR 258,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk ZELDA-ABU-ABU-MERAH-MUDA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/ABU_ABU_PUTIH_1_(1).jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/ABU_ABU_PUTIH_3_(1).jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">ZELDA <br>ABU-ABU / MERAH MUDA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 249,900</span>
                    <span class="new-price">IDR 238,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk ZELDA-HITAM-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/HITAM_PUTIH_1_(1).jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/HITAM_PUTIH_3_(1).jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">ZELDA <br>HITAM / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 249,900</span>
                    <span class="new-price">IDR 238,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk ZELDA-FUSHCIA-TOSCA -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/FUSIA_TOSCA_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/FUSIA_TOSCA_3.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">ZELDA <br>FUSHCIA / TOSCA</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 249,900</span>
                    <span class="new-price">IDR 238,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk STEVIE-MERAH-MUDA-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/STEVIE_MERAH_JAMBU_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/STEVIE_MERAH_JAMBU_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">STEVIE <br>MERAH MUDA / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

            <!-- single produk STEVIE-ABU-ABU-PUTIH -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="single-product" style="border:1px solid #74d268;">
                <div class="product-img">
                  <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">
                    <img class="primary-image" src="http://www.spotec.co.id/uploads/product/small/STEVIE_HITAM_1.jpg" alt="" />
                    <img class="secondary-image" src="http://www.spotec.co.id/uploads/product/small/STEVIE_HITAM_2.jpg" alt="" />
                  </a>
                  <div class="actions">
                    <div class="action-buttons">
                      <div class="add-to-cart">
                        <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">LIhat Detil</a>
                      </div>
                      <div class="add-to-links">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-content" style="padding-left:10px;">
                  <h2 class="product-name">
                    <a href="http://www.spotec.co.id/product/ROSSI-ABU-ABU-MUDA-BIRU">STEVIE <br>ABU-ABU / PUTIH</a>
                  </h2>
                  <div class="price-box">
                    <span class="old-price">IDR 239,900</span>
                    <span class="new-price">IDR 228,000</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- single produk -->

          </div>
        </div>

      </div>
    </div>
  </div>





{% endblock main %}
