{% load static %}
<!-- footer start -->
  <footer class="footer-area-1">
  <!-- footer-top-area start -->
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <!-- footer-about start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-2">
          <div class="footer-about">
            <p>
              <img src="{% static 'img/nav/logoweb2.png' %}" alt="" />
            </p>
            <p>
              <strong>Spotec Store Kendal</strong> adalah sebuah toko yang khusus menjual sepatu merek <strong>Spotec</strong>, sistem penjualan kami adalah semi online. situs ini hanya kami gunakan untuk e-catalog tanpa melakukan transaksi secara online. kami memberlakukan pembayaran di tempat cash on delivery(COD) untuk itu kami hanya menjual di wilayah kota kendal.
            </p>
            <ul>
              <li>HP/WA: 0838 3878 6991</li>
              <li>Email: <a href="mailto:althaffanisa@gmail.com">spotecstorekendak@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <!-- footer-about end -->
        <!-- footer-about start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-2">
          <div class="footer-about">
            <p>
              <img src="{% static 'img/nav/logospotec.png' %}" alt="" style="height:35px; width:80px;"/>
            </p>
            <p>
              <strong>Spotec</strong> adalah merek sepatu yang dibuat di Indonesia sejak tahun 1988. <strong>Spotec</strong> tidak hanya menjunjung tinggi kualitas dan kenyamanan para pemakainya tetapi juga menggabungkan setiap produknya dengan desain yang trendi.
            </p>
            <ul>
              <li>Kantor Pusat: Jl. Arjuna Utara No.35 Jakarta</li>
              <li>Telepon: (+62 21) 5698 1055</li>
              <li>Email: <a href="mailto:spotecofficial@gmail.com">spotecofficial@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <!-- footer-about end -->
        <!-- footer-menu start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-2">
          <div class="footer-menu">
            <h3 class="widget-title">Informasi</h3>
            <ul>
              <li><a href="http://www.spotec.co.id/page/profil-spotec">Profil&nbsp;Spotec</a></li>
              {# <li><a href="/page/alamat-agen">Alamat Agen</a></li> #}
              <li><a href="http://www.spotec.co.id">Website Official Spotec</a></li>
            </ul>
          </div>
        </div>
        <!-- footer-menu end -->
      </div>
    </div>
  </div>
  <!-- footer-top-area end -->

  <!-- footer-bottom-area start -->
  <div class="footer-bottom-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12" style="text-align:center;">
                  <div class="copyright">
                      <p>Copyright © 2020 Spotec Store Kendal</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- footer-bottom-area end -->
  </footer>
  <!-- footer end -->
