{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" {% static 'vendor/jquery/jquery.js' %} "></script>
<script src="{% static 'vendor/popper/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>


<!-- JS -->

        <!-- price-slider js -->
        <script src="http://www.spotec.co.id/template/js/price-slider.js"></script>

        <!-- bootstrap js -->
        <script src="http://www.spotec.co.id/template/js/bootstrap.min.js"></script>

        <!-- owl.carousel.min js -->
        <script src="http://www.spotec.co.id/template/js/owl.carousel.min.js"></script>

        <!-- jquery.scrollUp js -->
        <script src="http://www.spotec.co.id/template/js/jquery.scrollUp.min.js"></script>

        <!-- mixitup js -->
        <script src="http://www.spotec.co.id/template/js/jquery.mixitup.min.js"></script>

        <!-- fancybox js -->
        <script src="http://www.spotec.co.id/template/js/fancybox/jquery.fancybox.pack.js"></script>

        <!-- jquery-counterup js -->
        <script src="http://www.spotec.co.id/template/js/jquery.counterup.min.js"></script>
        <script src="http://www.spotec.co.id/template/js/waypoints.min.js"></script>

        <!-- jquery-meanmenu js -->
        <script src="http://www.spotec.co.id/template/js/jquery.meanmenu.js"></script>

        <!-- rs-plugin js -->
        <script type="text/javascript" src="http://www.spotec.co.id/template/lib/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="http://www.spotec.co.id/template/lib/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="http://www.spotec.co.id/template/lib/rs-plugin/rs.home.js"></script>

        <!-- wow js -->
        <script src="http://www.spotec.co.id/template/js/wow.js"></script>
        <script>
            new WOW().init();
        </script>

        <!-- plugins js -->
        <script src="http://www.spotec.co.id/template/js/plugins.js"></script>

        <!-- main js -->
        <script src="http://www.spotec.co.id/template/js/main.js"></script>
